* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(149deg, rgba(213, 193, 255, 1) 0%, rgba(205, 255, 247, 1) 100%);
    font-family: 'Arial Black', 'Arial Rounded MT Bold', 'Meiryo UI', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    background-size: 200% 200%;
    animation: gradietionAnimation 9s ease infinite;
}

.sp {
    display: none;

    @media screen and (max-width: 410px) {
        display: block;
    }
}

main {
    .container {
        position: relative;
        width: 100%;
        min-height: 100vh;

        .headBlock {
            h1 {
                padding-top: 30px;
                text-align: center;
                font-size: 3rem;
                color: #fff;
            }

            .wrapToday {
                width: 400px;
                max-width: 90%;
                margin: 50px auto;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 15px 5px rgba(126, 126, 126, 0.1);
                text-align: center;
                color: #fff;
                cursor: pointer;

                .date {
                    padding-top: 20px;
                }

                .temperature {
                    padding: 20px 0 40px;

                    .degree {
                        font-size: 2rem;
                    }
                }
            }
        }

        .middleBlock {
            width: 1000px;
            max-width: 90%;
            margin: auto;
            overflow-x: scroll;

            >ul {
                display: flex;
                justify-content: space-between;
                width: 1200px;
                padding-bottom: 20px;

                li {
                    width: calc(95%/6);
                    cursor: pointer;

                    .wrapWeek {
                        width: 100%;
                        padding: 10px 0;
                        border-radius: 10px;
                        text-align: center;

                        .weekDay {
                            p {
                                color: #fff;
                            }
                        }

                        .temperature {
                            p {
                                color: #fff;
                            }
                        }

                        .weekCode {
                            p {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(155, 155, 155, 0.5);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(42, 42, 42, 0.2);
                border-radius: 5px;
            }
        }

        .modalBg {
            display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #000;
            top: 0;
            opacity: 0.4;
            cursor: pointer;
        }

        .modal-box {
            display: none;
            position: absolute;
            width: 0;
            height: 0;
            max-width: 90%;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: modalAnime 1s ease-in-out forwards;

            .modal-inner {
                display: none;
                transition: all .2s ease-in-out;

                .detailBlock01 {
                    width: 90%;
                    margin: auto;
                    text-align: center;

                    p {
                        margin-top: 20px;
                        font-size: 2rem;
                    }
                }

                .detailBlock02 {
                    text-align: center;
                }

                ul {
                    display: flex;
                    width: 90%;
                    margin: 30px auto;
                    padding: 0 5px;
                    overflow-x: scroll;

                    li {
                        width: 200px;
                        margin: 10px 0;
                        padding: 10px 10px;
                        border-radius: 5px;
                        text-align: center;
                        transition: all .2s ease-in-out;

                        &:hover {
                            box-shadow: 0 0 5px 3px rgba(59, 59, 59, 0.1);
                        }

                        .timeLineBlock02 {
                            p {
                                margin-top: 10px;
                            }
                        }
                    }

                    &::-webkit-scrollbar {
                        height: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgba(155, 155, 155, 0.5);
                        border-radius: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: rgba(42, 42, 42, 0.2);
                        border-radius: 5px;
                    }
                }
            }

            .open {
                display: block;
            }
        }

        .modalOpen {
            display: block;
        }

        .modalOut {
            animation: modalOut 1s ease-in-out forwards;
        }
    }
}


@keyframes modalAnime {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 5px;
        height: 400px;
    }

    100% {
        width: 600px;
        height: 400px;
    }
}

@keyframes modalOut {
    0% {
        width: 600px;
        height: 400px;
    }

    50% {
        width: 5px;
        height: 400px;
    }

    99% {
        width: 0;
        height: 0;
    }

    100% {
        width: 0;
        height: 0;
    }
}

@keyframes gradietionAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}